@charset "utf-8";


@font-face {
    font-family: 'Roboto';
    src: url('../_fonts/static/RobotoCondensed-Regular.ttf');

    font-family: 'Source_Sans_3-Light';
    src: url('../_fonts/Source_Sans_3/static/SourceSans3-Light.ttf');

    font-family: 'Source_Sans_3-Regular';
    src: url('../_fonts/Source_Sans_3/static/SourceSans3-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

body {
    font-family: 'Source_Sans_3-Regular';
    overflow-x: hidden;
}

header h1 {
    text-align: center;
     color: #ffffff; 
     background-color: blue;
     width: 100%;
     height: 25%;
     font-size: 38px;
     padding-top: 2.5%;
}

#Inicio-menu {
    color: #fff;
    font-size: 20px;
    margin: 5px;
    padding-top: 2px;
    text-decoration: none;
}

#Inicio-menu:hover {
    color: #ff3131;
    transition: 0.4s;
}

#Sobre-menu {
    color: #fff;
    font-size: 20px;
    margin: 5px;
    padding-top: 2px;
    text-decoration: none;
}

#Sobre-menu:hover {
    color: #ff3131;
    transition: 0.4s;
}


#Cursos-menu {
    color: #fff;
    font-size: 20px;
    margin: 5px;
    padding-top: 2px;
    text-decoration: none;
    border-top: 4px solid #ff3131 !important;
}
#Cursos-menu:hover {
    color: #ff3131;
    transition: 0.4s;
}


p {
    text-align: justify;
    margin-left: 5%;
    margin-top: -40%;
}

.Cursos-pai {
    max-width: 1200vh;
    margin: 0px auto;
    margin-top: -25%;
}


.cartao-filho {
    width: 31%;
    height: 45%;
    display: inline-block;
    margin: 1%;
    padding: 15px;
}


#h3-ti {
    color: blue; 
    width: 100%;
    height: 90%;
    text-decoration: none;
    padding-left: 24%;
}

#h3-ti:hover {
    color: #ff3131;
}

#h3-adm {
    padding-left: 23%;
    color: blue;
    width: 100%;
    height: 90%;
}


#h3-adm:hover {
    color: #ff3131;
}

#h3-log {
    padding-left: 30%;
    color: blue;
    width: 100%;
    height: 90%;
}
#h3-log:hover {
    color: #ff3131;
}

#h3-edif {
    padding-left: 23%;
    color: blue;
    width: 100%;
    height: 90%;
}

#h3-edif:hover {
    color: #ff3131;
}

#h3-wd {
    padding-left: 37%;
    color: blue;
    width: 100%;
    height: 90%;
}

#h3-wd:hover {
    color: #ff3131;
}

#h3-ped {
    padding-left: 43%;
    color: blue;
    width: 100%;
    height: 90%;
}

#h3-ped:hover {
    color: #ff3131;
}

#h3-excel {
    padding-left: 32%;
    color: blue;
    width: 100%;
    height: 90%;
}

#h3-excel:hover {
    color: #ff3131;
}

#h3-conf {
    padding-left: 36%; color: blue;
    width: 100%;
    height: 90%;
}

#h3-conf:hover {
    color: #ff3131;
}





section img {
   width: 100%;
   height: 100%;
   border-radius: 20px;
   align-items: center;
}


#btn-formulario {
    text-align: center;
}



