@charset "utf-8";

@font-face {
    font-family: Roboto;
    src: url('../_fonts/static/RobotoCondensed-Regular.ttf');
}

body{
    background-color: #dbe2fa;
}

tr#menus {

    background-color: #ff009d;
}

tr#menus a:hover{
    background-color: #004aad;
    color: aliceblue;
    font-family: 'Roboto';

}

tr#menus:hover{
    background-color: #ff009d;
    color: aqua;

}

tr#menus a{
    text-transform: uppercase;
    text-decoration: none;
    color: #1100ff;
}

nav#menuc a:hover{
        background-color: #f31010;
        color: aqua;
        font-family: 'Roboto';
}

nav#menuc a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
}

nav#menuc{
    padding-top: 12px;
}

p#sobrec{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    text-indent: 30px;
}
h4#sobrec{
    font-family: Arial, Helvetica, sans-serif;
}

h1#botaoc {
    text-transform: uppercase;
    text-decoration: none;
}

form#Forml{
    text-align: center;
    margin: 25px;
    font-family: Roboto;
    font-size: medium;
}

h4#Forml{
    text-align: center;
    margin: 25px;
    font-family: Roboto;
    font-size: medium;
    color: #004aad;
}

p#text-ano-novo {
    font-size: medium; 
}

.img-middle {
    width: 33%;
    padding-left: 2px;
    padding-top: 28px;
    padding-bottom: 30px;
}


section .cursos-canva { 
    background-color: #004aad; 
    color: aliceblue;
    padding-top: 20%;
  

   
    
}

.img-button {
    padding-bottom: 5px;
}

h1#destaques {
    float:left;
    background-color:#004aad; 
    color: aliceblue; 
    height: 36px; 
    width: 12%; 
    text-align: left;
    padding-bottom: 5px;
    padding-left: 25px;
}